html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:focus {
    outline: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}
button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}
input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*!
 * Bootstrap Grid v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 @-ms-viewport {
    width: device-width;
  }
  
  html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
  .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
  .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
  .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
  .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
 
  @media (min-width: 576px) {
    .col-sm-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-sm-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-sm-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-sm-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-sm-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-sm-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-sm-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-sm-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-sm-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-sm-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-sm-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-sm-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 768px) {
    .col-md-1 {
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .col-md-2 {
      -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
      max-width: 16.666667%;
    }
    .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    .col-md-5 {
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
    .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .col-md-7 {
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
    }
    .col-md-8 {
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
    }
    .col-md-9 {
      -ms-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
    }
    .col-md-10 {
      -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
      max-width: 83.333333%;
    }
    .col-md-11 {
      -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
      max-width: 91.666667%;
    }
    .col-md-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .col-xl-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .flex-column{
    flex-direction: column;
  }
  .justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  
  .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
/*# sourceMappingURL=bootstrap-grid.css.map */
/* GLOBAL CSS */
body{
  position:relative;
}
h1,h2,h3,h4,p,a,body{
  font-family: 'Open Sans',sans-serif;
  color:#58575c;
}
a{
  text-decoration: none;
 
    position: relative;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    -moz-transition: opacity 0.2s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out 0s;
}
a::before{
  content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    z-index: 10;
    background-color: #345a99;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
a:hover{
  opacity:1;
}
a:hover::before{
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform: scaleX(1);
}
canvas{
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:1;

}
.section{
    padding-top: 70px ;
    
}
.padding-top-bottom{
    padding-top:50px;
    padding-bottom: 50px;
}
.text-center{
    text-align: center;
}
.text-left{
  text-align:left;
}
.center{
  position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.pos-rel{
  position:relative;
}
.primary_btn{
    position: relative;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding: 16px 25px;
    font-size: 16px;
    font-weight: 400;
    min-width: 250px;
    color: #FFFFFF;
    background-color: #345a99;
    text-decoration: none;
    font-family: 'Open sans',sans-serif;
    /* will-change: background-color,color; */
    /* -webkit-transition: color 175ms cubic-bezier(.18,.43,.58,1),background-color 175ms cubic-bezier(.18,.43,.58,1),border-color 175ms cubic-bezier(.18,.43,.58,1);
    -moz-transition: color 175ms cubic-bezier(.18,.43,.58,1),background-color 175ms cubic-bezier(.18,.43,.58,1),border-color 175ms cubic-bezier(.18,.43,.58,1);
    transition: color 175ms cubic-bezier(.18,.43,.58,1),background-color 175ms cubic-bezier(.18,.43,.58,1),border-color 175ms cubic-bezier(.18,.43,.58,1); */
  
}
.primary_btn:before{
  content: '\f054';
  width: 15px;
  display: inline-block;
  height: 10px;
  right: 45px;
  position: absolute;
  top: calc(50% - 6px);
   opacity: 0; 
  z-index: 99;
   visibility: hidden; 
   transform:none;
  -webkit-transition: opacity .2s ease-in-out,visibility .2s ease-in-out, transform .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,transform .2s ease-in-out;
  transition: opacity .2s ease-in-out,visibility .2s ease-in-out,transform .2s ease-in-out;
  font-family: FontAwesome;
  bottom:0;
  background-color: #d74061;
}
.primary_btn:hover:before{
  opacity: 1;
  visibility: visible;
  transform: translateX(33px);
  -webkit-transition: opacity .2s ease-in-out,visibility .2s ease-in-out, transform .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,transform .2s ease-in-out;
  transition: opacity .2s ease-in-out,visibility .2s ease-in-out,transform .2s ease-in-out;
}

/* MAIN CSS */
header{
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 11;
    border-bottom:1px solid #eee;
    background-color:#fff;
}
/* header.shadow{
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
} */
header .logo-container a::before{
  content:none;
}
header .logo-container img{
    height: 69px;
    padding: 5px 0;
}

header .languages-container>ul{
  width: 50%;
  float: right;
  padding: 0 10px;
  position: relative;
  border: 1px solid #345a99;
  min-height: 40px;
  cursor:pointer;
} 
header .languages-container >ul::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #345a99;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  will-change: transform;
  transition: transform .3s ease-out;
}
header .languages-container >ul:hover::before{
  -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    transition: transform .3s ease-out;
}
header .languages-container >ul:hover li,
header .languages-container >ul:hover li a{
  color:#fff;
}
header .languages-container>ul li{
  width: 50%;
    text-align: center;
    list-style: none;
    font-size: 18px;
    font-weight: 300;
    color: #345a99;
    text-transform: uppercase;
}
header .languages-container>ul li.last:before {
  content: " | ";
  position: absolute;
  left: 50%;
  margin-left:-4px;

}
header .languages-container>ul li a{
  color:#345a99;
  text-decoration: none;
}

/* HOMEPAGE */
.welcome{
    background-image: url('/assets/backgroud.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height:calc(50vh + 100px);
    position:relative;  
}
@media screen and (min-width: 1200px) and (min-height: 1161px){
  .welcome{
    min-height: calc(70vh);
  }
  .welcome .container{
    padding-top: 100px;
  }
}
.welcome .inner-container{
  text-align:center;
}
.welcome .img{
  max-width: 100%;
  height: auto;
}
.contact h1,
.welcome h1{
  font-size: 55px;
  line-height: 60px;
  font-weight: 100;
  text-shadow: 2px 2px #000;
  display: inline-block;
  color:#fff;
 
}
.welcome p{
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
  font-weight: 600;
  color:#fff;
  margin-left: 0;
  position: relative;
 
  margin-top:10px;
  
}
.welcome p:before{
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% - 90px);
    bottom: 0;
    height: 2px;
    background: #fff;
    margin-right: -5%;
    overflow: hidden;
    -webkit-animation: dude 1s linear infinite;
	-moz-animation: dude 1s linear infinite;
    animation: dude 1s linear infinite;
}
@-webkit-keyframes dude {

  
  0% {
    width: 0%;
  }
  35%{
   width:1.5%
  }
  70% {
    width:3%
  }
  100% {
   width:5%;
  }
}
@-moz-keyframes dude {

  0% {
    width: 0%;
  }
  35%{
   width:1.5%
  }
  70% {
    width:3%
  }
  100% {
   width:5%;
  }
}
@keyframes dude {

  0% {
    width: 0%;
  }
  35%{
   width:1.5%
  }
  70% {
    width:3%
  }
  100% {
   width:5%;
  }

}


.welcome h2{
  font-size:20px;
  line-height: 24px;
  margin-bottom: 20px;
  color:#fff;
}

.welcome .primary_btn{
  z-index:2;  
  background-color:#d74061;
}
@media screen and (min-width: 576px){
  .welcome .img{
    text-align: right;
  }
}
@media screen and (min-width:992px){
  .welcome .inner-container{
    text-align:left;
  }
  .welcome p{
    padding-left: 6%;
  }
  .welcome p:before{
    left:0;
  }

}
.features .card {
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
  height: calc(100% - 15px);
  background:#fff;
}
.features .card h2{
  color:#d74061;
  font-size:20px;
  line-height: 24px;
  padding:10px 0;
}
.features .card p{
  font-size:16px;
  line-height:19px;
  color:#58575c;
}
.features .card a{
  padding-top:10px;
  opacity: 0.6;
  display: inline-block;
  z-index:2;
}
@media screen and (min-width:768px){
  .features .padding-top-bottom{
    padding-bottom: 80px;
  }
}
/* FOOTER */
footer{
  padding:10px 0;
  background-color: #345a99; 
}

footer h4{
  color:#fff;
  font-size:16px;
}
footer .social-icons{
  padding-top:10px;
}
footer .social-icons a{
  width: 33px;
  height: 30px;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  color:#345a99;
  opacity:1;
  z-index:2;
}
footer .social-icons a:first-child{
  margin-right: 5px;
}

footer .social-icons a i{
  font-size: 20px;
    height: 30px;
    padding-top: 8px;
    transition: opacity .2s ease-in-out
}
footer .social-icons a:hover i{
  opacity:0.6;
}
@media screen and (min-width:768px){
  footer{
    padding:15px 0;
  }
  footer .inner-container{
    text-align:unset;
    align-items: center;
  }
  footer .social-icons{
    text-align: right;
    padding-top:0px;
  }
}
/* CONTACT PAGE */
.g_map{
  height:450px;
  z-index: 2;
}
.g_map .gm-style{
  z-index: 2!important;
}
@media screen and (min-width: 1200px) and (min-height: 1161px){
  .g_map{
    height: calc(60vh);
  }
}
.contact h1{
  color:#000;
  padding-top:15px;
}
.contact .details{
  padding-top:50px;
}
.contact .details > div{
  max-width:270px;
  margin:0 auto;
  padding-top:15px;
}
.contact .details h2{
  font-size: 26px;
  line-height: 26px;
  font-weight: 200;
  text-align: center;
}
.contact .details h2:after,
.contact .details h2:before{
    width: 50px;
    content: "";
    height: 2px;
    display: block;
    margin: 5px auto;
    background-color: #345a99;
}
.contact .details a{
  opacity:0.6;
  color:#345a99;
  cursor:pointer;
  z-index:2;
}
.contact .details p:not(._brand){
  font-size: 16px;
  line-height: 21px;
}
.contact .details ._brand{
  padding-top:15px;
}
.contact .details ._brand::before{
  font-size:30px;
  color:#345a99;
}
.form-group{
    padding-bottom: 30px;
    position: relative;
    z-index:2;
}
.form-group label{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    will-change:top,left;
    transition: top .4s ease-in-out , left .4s ease-in-out;
    font-family: 'Open sans',sans-serif;
}
.form-group label span{
    color:#F20505;
}
.form-group label.active{
    top:-15px;
    left:0;
}

.form-group input,
.form-group textarea{
    color:#7c7c7c;
    border: 1px solid #d5d5d5;
    padding: 15px;
    font-family: 'Open sans',sans-serif;
}
.form-group textarea{
    width:auto;
    height:85px;
}

.form-footer > div:not(.primary_btn){
   display: inherit;
   justify-content:flex-end;
   margin-bottom: 20px;
}
.form-footer .primary_btn{
  z-index:2;
}
.form-footer .primary_btn:before{
  background-color: transparent;
}

.modal {
  transform: translateY(-100vh);
  will-change:transform;
  transition: transform .4s ease-in-out; 
  position: fixed; 
  z-index: 3; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background:rgba(0,0,0,.6);
}
.modal.active{
  transform:none;
  will-change:transform;
  transition: transform .4s ease-in-out; 
  
  
}
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #d74061;
  width: 400px;
  top: 50%;
  position: absolute;
  left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}
.modal-content p{
  font-size:16px;
  line-height: 24px;
}
.close {
  color: #345a99;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  opacity:0.6;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width:768px){
  .contact .details{
    padding-top:0px;
  }
}